%nav
  %ul#navigation
    %li
      %a{:class => 'on', :href => '#home'} Home
    %li
      %a{:href => '#about'} About
    %li
      %a{:href => '#work'} Work
    %li
      %a{:class => 'last', :href => '#contact_header'} Contact Me
%header.panel
  .content
    %h1
      Well Hello.
      %span
        I'm Brian
    = image_tag('intro-banner.png', :alt => 'The Work of Brian Bauer')
%section#about.panel
  .header
  .content
    %h2 
      This is What I Do
    = image_tag('ui-about.png', :alt => 'Design + Code = Awesome!')
    .abstract
      %p 
        %strong I'm Brian Bauer
      %p 
        I'm a designer and 
        %em Ruby on Rails 
        developer striving to create beautiful user-interfaces backed by beautiful code.  I try to sneak in
        %em HTML5
        and
        %em CSS3
        in when possible and love working with
        %em SASS
        and
        %em HAML.
      %ul
        %li 503-360-7651
        %li
          %a{:href => "#contact"} Get in touch
%section#work.panel
  .header
  .content
    %h2 The Work
    #articles
      - @articles.each do |article|
        %article
          %a{:class => "view", :href => "/images/#{article.screenshot}", :rel => "shadowbox"}
            View Screenshot
          = image_tag("#{article.thumb.blank? ? "/images/work-blank-thumb.png" : article.thumb}", :alt => "#{article.title}")
          %h3 
            = article.title
            %br/
            %a{:href => "#{article.url}"}
              View Project
          .icons
            - icons(article).each do |icon|
              %div{:class => "icon #{icon}"}
    %ul
      %li.title Tech Key:
      %li.ruby
        Ruby/Rails
      %li.css
        CSS3
      %li.sass
        SASS
      %li.html
        HTML5
      %li.haml
        HAML
      %li.jquery
        jQuery
      %li.mootools
        MooTools
      %li.php
        PHP
      %li.asp.last
        ASP
#contact_header
%section#contact.panel
  .content
    %h2 Contact Me
    - form_tag('/email', :id => 'contact_form') do
      /= label :email, :name, "Name:"
      = text_field :email, :name, :placeholder => "Your Name"
      %br/
      /= label :email, :address, "Address:"
      = text_field :email, :address, :class => 'required email', :placeholder => "Your Email Address"
      %br/
      /= label :email, :subject, "Subject:"
      = text_field :email, :subject, :placeholder => "Subject"
      %br/
      = text_area :email, :body, :rows => 8, :cols => 50
      %br/
      = submit_tag "Send", :id => 'submit_email'