!!! 5
%html
  %head
    %title Brian Bauer - Web Development & Design
    %link{:rel=>'stylesheet',:href=>'/stylesheets/screen.css',:media=> 'all',:type => 'text/css'}
    %link{:rel=>'stylesheet',:href=>'http://fonts.googleapis.com/css?family=Dancing+Script:400,700&v2',:media=> 'all',:type => 'text/css'}
    %script{:type => "text/javascript", :src  => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/jquery.scrollTo-min.js"}
    %script{:type => "text/javascript", :src  => "/javascripts/shadowbox.js"}
    :javascript
      $(document).ready(function(){
        $('#navigation, #about').localScroll({ duration:300 });
        $('#navigation a').click(function(){
          $('#navigation a').removeClass("on");
          $(this).addClass("on");
        });
        Shadowbox.init();
      });	
  %body#home
    = yield
    #contact_header
    %section#contact.panel
      .content
        %h2 Contact Me
        - form_tag('/email', :id => 'contact_form') do
          = label :email, :name, "Name:"
          = text_field :email, :name
          %br/
          = label :email, :address, "Email:"
          = text_field :email, :address, :class => 'required email'
          %br/
          = label :email, :subject, "Subject:"
          = text_field :email, :subject
          %br/
          = text_area :email, :body, :rows => 8, :cols => 50
          %br/
          = submit_tag "Send", :id => 'submit_email'
    %footer#footer.panel
      .content
        %p#say-hi
          All content &copy; 2011 Brian Bauer
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6162531-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
